/* === MAIN STYLES === */

html {
  height: 100%;
  width: 100%;
}

body {
  color: rgb(38, 38, 38);
  background-image: url(assets/freedom.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;
  height: 100%;
  width: 90%;
  padding-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  
  
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.5rem;
  line-height: 3.5rem;
  padding-bottom: 6rem;
  text-align: center;
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1.3rem;
}

.author::before {
  display: inline-block;
  content: "";
  width: 0.8rem;
  height: 1px;
  background-color: rgb(38, 38, 38);
  vertical-align: middle;
}

/* === MEDIA QUEIRES === */

@media (min-width: 280px) {
  .flex-wrapper {
    margin-top: 1.5rem;
    padding-top: 2rem;
  }
  
  .quote {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 1.5rem 2rem 3rem;
    text-align: center;
  }

  .author {
    font-family: 'Crimson Text', serif;
    font-size: 1rem;
  }
  
  .author::before {
    width: 0.5rem;
  }
  
}

@media (min-width: 320px) {
  .flex-wrapper {
    margin-top: 1.5rem;
    padding-top: 1rem;
  }
  
  .quote {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 1rem 2rem 3rem;
    text-align: center;
  }

  .author {
    font-family: 'Crimson Text', serif;
    font-size: 1rem;
  }
  
  .author::before {
    width: 0.5rem;
  }
  
}


@media (min-width: 480px) {
  
  .flex-wrapper {
    margin-top: 1.5rem;
    padding-top: 3rem;
  }
  
  .quote {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 2.5rem;
    text-align: center;
  }

  .author {
    font-family: 'Crimson Text', serif;
    font-size: 1rem;
  }
  
  .author::before {
    width: 0.6rem;
  }
  
}

@media (min-width: 768px) {
  
  .flex-wrapper {
    margin-top: 2rem;
    padding-top: 1.5rem;
  }
  
  .quote {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.7rem;
    line-height: 2.8rem;
    padding: 3rem 3rem;
    text-align: center;
  }

  .author {
    font-family: 'Crimson Text', serif;
    font-size: 1.3rem;
  }
  
  .author::before {
    width: 0.6rem;
  }
  
}
  
  
@media (min-width: 992px) {
  
  .flex-wrapper {
    margin-top: 1rem;
    padding-top: 1rem;
  }
  
  .quote {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    padding: 3.5rem 4rem;
    text-align: center;
  }

  .author {
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
  }
  
  .author::before {
    width: 0.8rem;
  }
  
}

@media (min-width: 1200px) {
    
  .flex-wrapper {
    margin-top: 1rem;
    padding-top: 1rem;
  }
  
  .quote {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.3rem;
    line-height: 3.5rem;
    padding: 4.5rem 3.5rem 6rem;
    text-align: center;
  }

  .author {
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
  }
  
  .author::before {
    width: 0.9rem;
  }
}

  

 
